In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results.csv')

In [3]:
df.describe()

,year,munich_avg_temp,berlin_avg_temp,hamburg_avg_temp,global_avg_temp
count,264.000000,264.000000,264.000000,264.000000,264.000000
mean,1881.500000,4.644280,8.917727,8.328902,8.359394
std,76.354437,0.757344,0.883601,0.845307,0.575184
min,1750.000000,0.530000,4.840000,4.650000,5.780000
25%,1815.750000,4.187500,8.357500,7.790000,8.077500
50%,1881.500000,4.660000,8.935000,8.320000,8.365000
75%,1947.250000,5.132500,9.485000,8.890000,8.700000
max,2013.000000,6.640000,10.960000,10.370000,9.730000

In [4]:
df1 = pd.read_csv('weather_data.csv')

In [5]:
df1

,year,local_avg_temp,global_avg_temp,berlin_avg_temp,ham_avg_temp,Belin,Hamburg,Munich,Global
0,1750,5.40,8.72,9.83,9.31,NaN,NaN,NaN,NaN
1,1751,5.54,7.98,9.75,8.94,NaN,NaN,NaN,NaN
2,1752,0.53,5.78,4.84,4.65,NaN,NaN,NaN,NaN
3,1753,4.61,8.39,8.72,8.12,NaN,NaN,NaN,NaN
4,1754,4.33,8.47,8.49,7.88,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
259,2009,5.89,9.51,10.06,9.61,10.287,9.788,5.88,9.49
260,2010,4.85,9.70,8.61,7.97,10.052,9.573,5.73,9.54
261,2011,6.56,9.52,10.56,9.73,10.139,9.627,5.83,9.55
262,2012,5.88,9.51,9.96,9.20,10.109,9.561,5.79,9.55
263,2013,6.00,9.61,10.12,9.17,10.114,9.530,5.78,9.56