In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('results.csv')

In [16]:
df.describe()

,year,munich_avg_temp,berlin_avg_temp,hamburg_avg_temp,global_avg_temp
count,264.000000,264.000000,264.000000,264.000000,264.000000
mean,1881.500000,4.644280,8.917727,8.328902,8.359394
std,76.354437,0.757344,0.883601,0.845307,0.575184
min,1750.000000,0.530000,4.840000,4.650000,5.780000
25%,1815.750000,4.187500,8.357500,7.790000,8.077500
50%,1881.500000,4.660000,8.935000,8.320000,8.365000
75%,1947.250000,5.132500,9.485000,8.890000,8.700000
max,2013.000000,6.640000,10.960000,10.370000,9.730000